@import '../theme/theme.css';

.formContainer {
    padding: 5%;
    background: var(--color-white);
    border: 1px solid #333333;
    box-sizing: border-box;
    min-height: 530px;
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
}

.formHeading {
    padding: 20px 0;
}

.inputRow {
    display: flex;
    margin: 20px 0;
}

.inputColumn {
    flex: 1;
}

.inputColumn:nth-child(1) {
    margin-right: 10px;
}

.input {
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.button {
    padding: 16.5px;
    background: var(--color-thickBlack);
    color: var(--color-white);
    border: none;
}
.add_data
{
    display: flex;
    gap: 10px;
}
.editbtn
{
    padding: 10px;
    background: orange;
    color: var(--color-white);
    border: none;
}

@media only screen and (max-width: 768px) {
   .inputRow {
        flex-direction: column;
    }

    .inputColumn:nth-child(1) {
        margin: 0 0 20px 0;
    }
    .formContainer {
        padding: 3%;
    }

    .buttonWrapper {
        justify-content: center;
    }
}

/*

import React from 'react';
import Child from './Child'
class App extends React.Component{
	
	state = {
		name: "",
	}

	handleCallback = (childData) =>{
		this.setState({name: childData})
	}

	render(){
		const {name} = this.state;
		return(
			<div>
				<Child parentCallback = {this.handleCallback}/>
				{name}
			</div>
		)
	}
}
export default App


import React from 'react'
class Child extends React.Component{
	
	onTrigger = (event) => {
		this.props.parentCallback(event.target.myname.value);
		event.preventDefault();
	}

	render(){
		return(
		<div>
			<form onSubmit = {this.onTrigger}>
				<input type = "text"
				name = "myname" placeholder = "Enter Name"/>
				<br></br><br></br>
				<input type = "submit" value = "Submit"/>
				<br></br><br></br>
			</form>
		</div>
		)
	}
}
export default Child
*/