@import '../../components/theme/theme.css';

.heroContainer {
    width: 100%;
}

.heroBanner, .columnOne, .asideImageBottom, .asideImageTop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heroTextL1, .heroTextL2 {
    font-family: var(--font-jost);
    font-weight: 400;
    background-color: var(--color-white);
    opacity: 0.9;
    color: var(--color-secondary);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px;
    font-size: 20px;
    line-height: 29px;
}

.heroTextL1 {
    top: 50%;
}

.heroTextL2 {
    top: 57%;
}

.heroButton {
  font-family: var(--font-jost);
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 30px;
  top: 77%;
  position: relative;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  height: 20px;
}

.primaryText {
    color: var(--color-primary);
}

.columnOne {
    margin-top: 5px ;
    margin-right: 5px;
}

.heroBanner {
    background-image: url(../../assets/images/hero-banner.png);
    max-width: 100%;
    height: 680px; 
}

.columnOne {
    background-image: url(../../assets/images/image-suit-vertical.png);
    width: 50%;
    height: 740px; 
}

.asideImageTop {
    background-image: url(../../assets/images/formal-suit.png);
    width: 100%;
}

.asideImageBottom {
    background-image: url(../../assets/images/image-suit-horizontal.png);
    width: 100%;
}

.asideImageBottom, .asideImageTop {
    margin-top: 5px;
    height: 365px;
}

.mainRow {
    display: flex;
    height: 100%;
    width: 100%;
}

.columnTwo {
    height: 100%;
    width: 50%;
}   

.navSlider {
    display: none;
}

/* tablet & mobile screens */
@media only screen and (max-width: 768px) {
    .navSlider {
        display: block;
    }
    .mainRow {
        flex-direction: column;
    }
    .columnOne {
        width: 100%;
    }
    .columnTwo {
        width: 100%;
        height: 100%;
    }
}