@import url('https://fonts.googleapis.com/css2?family=Jost&family=Scada&display=swap');

:root {
  /* colors */
  --color-primary: #E10000;
  --color-gray: #DDDDDD;
  --color-secondary: #444444;
  --color-thickBlack: #333333;
  --color-blackMono: #222222;
  --color-white: #FFFFFF;
  --color-menuContent: #777; 
  --color-dimgrey: #BBBBBB;
  --bg-snowWhite: #F9F9F9;
  --color-yellow: #FDC02F;
  --color-lightgrey: #707070;
  --color-thickBlack: #333333;

  /* fonts */
  --font-scada: 'Scada', sans-serif;
  --font-jost: 'Jost', sans-serif;
  --font-bankgothic: BankGothic;
  --font-mediumBold: 500;
  --font-normal: 400;
}
